.goCom{
	height: 100%;
}
.go_content{
	padding-top: 4.2em;
	height: 100%;
}
.go_content .go_swip{
	height: 6em;
	background-color: #fff;
}

.go_content .go_swip .go_swipLabel {
    font-size: 0.8em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.go_content .go_swip .mui-icon{
	font-size: 2em;
}
.headerstyle{
	height: 4em;
	background-color: #5eaef3;
}
.headerstyle .mui-pull-left{
	font-size: 1em;
	margin-top: 1em;
	color: #fff;
}
.headerstyle .mui-search {
    width: 17em;
    left: 3.5em;
    bottom: 2.2em;
    height: 3em;
}
.headerstyle .mui-search input{
	background-color: #fff;
}
.headerstyle .mui-icon-search {
    position: absolute;
    top: 0px;
    left: 5.5em;
}
.go_list {
	display: flex;
	justify-content: space-between;
	padding: 1em 1em;
	position: relative;
}

.go_list:before{
    content: "";
    position: absolute;
    bottom: 0em;
    width: 22.5em;
    height: 0;
    border: 1px solid #bcb7b7;
}

.go_list_img {
	height: 6em;
	width: 9em;
	text-align: left;
}
.go_list_img img {
	height: 6em;
	width: 8em;
}

.go_list_context li{
	width: 11em;
    text-align: left;
    padding-left: 0.5em;
}
.go_list_context li:first-child{
	padding-bottom: 0.8em;
    font-size: 1.2em;
}
.go_list_context li:nth-child(2){
	padding-bottom: 0.5em;
}
.go_list_context li:last-child .mui-icon{
	font-size: 1em;
}
.go_list_context li .icon-tubiao-qiuchang:before{
	padding-right: 0.8em;
}
.go_recommend{
	height: 26em;
    overflow: hidden;
    background-color: #fff;
}
.go_recommend .mint-tab-container{
	height: 30.2em;
	overflow-y: scroll;
	margin-top: 0.3em;
}
