.goCom{
	height: 100%;
}
.go_content{
	padding-top: 4.2em;
	height: 100%;
}
.go_content .go_swip{
	height: 6em;
	background-color: #fff;
}

.go_content .go_swip .go_swipLabel {
    font-size: 0.8em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.go_content .go_swip .mui-icon{
	font-size: 2em;
}
.headerstyle{
	height: 4em;
	background-color: #5eaef3;
}
.headerstyle .mui-pull-left{
	font-size: 1em;
	margin-top: 1em;
	color: #fff;
}
.headerstyle .mui-search {
    width: 17em;
    left: 3.5em;
    bottom: 2.2em;
    height: 3em;
}
.headerstyle .mui-search input{
	background-color: #fff;
}
.headerstyle .mui-icon-search {
    position: absolute;
    top: 0px;
    left: 5.5em;
}
.go_list {
	display: flex;
	justify-content: space-between;
	padding: 1em 1em;
	position: relative;
}

.go_list:before{
    content: "";
    position: absolute;
    bottom: 0em;
    width: 22.5em;
    height: 0;
    border: 0.5px solid #ebe9e9;
}

.go_list_img {
	height: 6em;
	width: 9em;
	text-align: left;
	border-radius: 2em;
}
.go_list_img img {
	height: 6em;
	width: 8em;
	border-radius: 0.5em;
}
.go_list_context{
	height: 6em;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

}
.go_list_context li{
	width: 11em;
    text-align: left;
}
.go_list_context li:first-child{
	/*padding-bottom: 0.8em;*/
    font-size: 1em;
}
.go_list_context li:nth-child(2){
	/*padding-bottom: 0.5em;*/
	font-size: 0.5em;
}
.go_list_context li:nth-child(3) .mui-icon{
	font-size: 0.5em;
}
.go_list_context li:last-child{
	padding-top: 1em;
	width: 100%;
	line-height: 0.5em;
	font-size: 0.5em;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.go_list_context li:last-child:before{
	content: "";
    position: absolute;
    top: 2px;
    width: 22.5em;
    height: 0;
    border: 0.5px solid #ebe9e9;
}
.go_list_context li:last-child .mui-icon{
	font-size: 0.5em;
}
.go_list_context li .icon-tubiao-qiuchang:before{
	padding-right: 0.8em;
}
.go_recommend{
    background-color: #fff;
}
